<div id="about_modal_container" class="modal_container">
    <div id="about_innerwindow" class="modal_innerwindow">
        <p style="font-weight:bold" class="label">This is a joint venture of</p>
        <ul>
            <li>Thomas Harms</li>
            <li>Gregor Barth</li>
            <li>León Dirmeier</li>
            <li>Johann Strama</li>
            <li>Lukas Grätz</li>
            <li>Tobias Gleißner</li>
            <li>Irina Marakenko</li>
            <li>Armin Weber</li>
            <li>Johannes Nixdorf</li>
        </ul>
        <button class="button" onclick="modals.about.close()">Close</button>
    </div>
</div>