<div id="directorypicker_modal_container" class="modal_container">
    <div id="directorypicker_innerwindow" class="modal_innerwindow">
        <div id="directorypicker_tree"></div>
        <div id="directorypicker_footer_container">
            <button class="button" id="directorypicker_button_open" onclick="directorypicker.button_open()">Open</button>
            <button class="button" id="directorypicker_button_cancel" onclick="directorypicker.button_cancel()">Cancel</button>
        </div>
    </div>
</div>